<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <ul>
        <li>
          <a class="page-link" href="/index.html"><i class="fa fa-home"></i> home</a>
        </li>
        <li>
          <a class="page-link" href="/weddinginfo.html"><i class="fa fa-heart"></i> wedding</a>
        </li>
        <li>
          <a class="page-link" href="/ourstory.html"><i class="fa fa-book"></i> our story</a>
        </li>
        <li>
          <a class="page-link" href="/rsvp.html"><i class="fa fa-pencil"></i> rsvp</a>
        </li>
      </ul>
    </nav>
    <img class="menuscroll" src="images/menuscroll.png">
  </div>

</header>
