@import "bourbon/bourbon";
@import "neat/neat";

// Breakpoints
$desktop: new-breakpoint(min-width 800px 12);
$tablet: new-breakpoint(max-width 799px);
$mobile: new-breakpoint(max-width 520px);

body {
  background-color: #fffff0;
}

.site-nav {
  @include outer-container;
  border-bottom: 3px solid #ffcba4;
  margin-bottom: 1em;
  ul {
    li {
      list-style: none;
      @include span-columns(3);
      @include media($mobile) {
        @include span-columns(12);
      }
      a {
        color: #747D7D;
        font-family: 'Pathway Gothic One', sans-serif;
        font-size: 24px;
        letter-spacing: 3px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          color: #ffcba4;
        }
      }
    }
  }
}

.left-half {
  @include span-columns(7);
  text-align: center;
  @include media($tablet) {
    @include span-columns(12);
  }
}

.right-half {
  @include span-columns(5);
  @include media($tablet) {
    @include span-columns(12);
  }
}

h1 {
  color: #666633;
  font-family: 'Poiret One', cursive;
  font-size: 3.8em;
  letter-spacing: -1px;
  margin: 0;
  @include media($tablet) {
    font-size: 3em;
  }
}

.are-getting {
  font-size: 1.2em;
}

span.ampersand {
  font-size: 1.5em;
}

h2 {
  color: #747D7D;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 3.8em;
  margin: 0;
}

span.married {
  font-size: 1em;
  letter-spacing: 0.8em;
  @include media($tablet) {
    letter-spacing: 0.2em;
  }
}

.wrapper {
  @include outer-container;
  padding: 0 2em;
}

img.fullwidth {
  width: 100%;
}
