@import "bourbon/bourbon";
@import "neat/neat";

// Breakpoints
$desktop: new-breakpoint(min-width 800px 12);
$tablet: new-breakpoint(max-width 799px);
$mobile: new-breakpoint(max-width 520px);

$peach: #ffcba4;
$sagegreen: #989f7a;

// General and layout styles
body {
  background-color: #333;
}

.site-header {
  background-color: #333;
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  @include media($tablet) {
    height: 160px;
  }
}

.site-nav {
  @include outer-container;
  padding: 0.5em 0;
  ul {
    li {
      list-style: none;
      @include span-columns(3);
      @include media($tablet) {
        @include span-columns(12);
      }
      a {
        color: $sagegreen;
        font-family: 'Lobster Two', sans-serif;
        font-size: 24px;
        letter-spacing: 3px;
        text-decoration: none;
        &:hover {
          color: #ffcba4;
        }
      }
    }
  }
}

.wrapper {
  @include outer-container;
}

img.fullwidth {
  width: 100%;
}

.padding-vertical {
  padding: 2em 0;
}

.menuscroll {
  width: 100%;
}

.twelve {
  @include span-columns(12);
  text-align: center;
}

.nine {
  @include span-columns(9);
  text-align: center;
  @include media($tablet) {
    @include span-columns(12);
  }
}

.seven {
  @include span-columns(7);
  text-align: center;
  @include media($tablet) {
    @include span-columns(12);
  }
}

.six {
  @include span-columns(6);
  text-align: center;
  @include media($tablet) {
    @include span-columns(12);
  }
}

.five {
  @include span-columns(5);
  text-align: center;
  @include media($tablet) {
    @include span-columns(12);
  }
}

.three {
  @include span-columns(3);
  text-align: center;
  @include media($tablet) {
    @include span-columns(12);
  }
}

.main {
  position: relative;
  top: 80px;
  @include media($tablet) {
    top: 160px;
  }
}


// Images
.home-married {
  img {
    background-color: #333;
    width: 75%;
    @include media($tablet) {
      width: 100%;
    }
  }
}

.skyline {
  width: 80%;
  @include media($tablet) {
    width: 100%;
  }
}

.border-light {
    border: 8px solid white;
  }
.border-dark {
  border: 8px solid darken($sagegreen, 20%);
}

// Typography
h2 {
  color: white;
  font-family: 'Lobster Two';
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  padding: 0.5em 0;
}

h3 {
  color: white;
  font-family: 'Lobster Two';
  font-size: 2.5em;
  margin: 0;
}

h4 {
  color: white;
  font-family: 'Lobster Two';
  font-size: 1.8em;
  margin: 0;
}

p {
  color: white;
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0.8em 0;
  text-align: left;
}

a {
  color: $peach;
}

ul {
  list-style: none;
  margin: 0;
}

// Page-specific
.our-story, .wedding-info {
  .wrapper {
    padding: 2em 3em;
    @include media($tablet) {
      padding: 1em;
    }
  }
}
